[2018-10-31 00:20] jbryson3 opened #1 "Intended to be a standalone install?"
Is this intended to be a standalone install - ie, any ember app could just `ember install ember-cli-storybook` and be up and running with storybook? If not, how should this be used with the storybook quick-start guide?

https://github.com/storybooks/storybook/tree/master/lib/cli
https://github.com/storybooks/storybook/blob/master/docs/src/pages/basics/guide-ember/index.md

Just doing an ember inst

[2018-10-31 04:17] gabrielcsapo commented on #1
It should be as simple as running `get-storybook` and that should provision a starter application. Once https://github.com/storybooks/storybook/pull/4594 gets merged, that contains the docs needed to onboard with ember-cli-storybook. Running `ember build` or `ember serve` will create the needed files that should make storybook work right out of the box.

[2018-11-01 21:32] gabrielcsapo commented on #1
Thoughts on this? @jbryson3

[2018-11-06 22:28] jbryson3 commented on #1
I see that your PR got merged. Something is not adding up for me - I haven't yet found the magic combination of commands to get storybook running on a new ember app.

Here is the process that has gotten me the closest so far:

From the [quickstart guide](https://github.com/storybooks/storybook/tree/master/app/ember)
1. `npx -p @storybook/cli sb init`
Problem: `ember-cli-storybook` is not added, an

[2018-11-07 00:04] gabrielcsapo commented on #1
what version of @storybook/ember are you using?

[2018-11-07 00:04] gabrielcsapo commented on #1
Thank you for the verbose output, I can try and use this to make the quick-start more quick

[2018-12-15 16:00] ultimatemonty commented on #1
I was playing around with this for a bit this morning and was able to make some progress.

[code]

After storybook init make sure the the `storybook` and `build-storybook` commands run `ember server`

[code]

Running `yarn run storybook` will then successfully start the ember dev server. It does *not* start the storybook server. If I kill `ember server` via `ctrl-c` only then will storybook fire u

[2019-02-14 08:37] techdragon opened #4 "Make imports from `ember-cli-htmlbars-inline-precompile` work"
The package `ember-cli-htmlbars-inline-precompile` updated to support using the proper package name (eg `import hbs from 'ember-cli-htmlbars-inline-precompile'`) in addition to the existing `import hbs from 'htmlbars-inline-precompile'` but this package seems to break that. I've updated the package to 2.1.0 and when using `hbs` inside a story file, I get a lot of errors, mostly to do with `Module

[2019-03-15 03:22] peabnuts123 opened #8 "outputReady hook not working correctly"
When running this addon in my (large, old, sophisticated) app the `outputReady` hook is not functioning correct and cannot generate the config files necessary for this to work.

The following section of code:
[code]

`this.app` is undefined for some reason, despite being on Ember and Ember-CLI 3.8. If I create a new project it works okay (though the app still does not run properly…). I don't know

[2019-06-26 07:31] himynameisjonas opened #10 "Specific configs for storybook"
Is it possible to add a hook to be able to modify the parsed config before generating the preview_head.html file?
I would for example like to be able to enable ember-cli-mirage when using storybook, without enabling it in the regular development environment.

[2019-06-26 20:48] billpull commented on #10
At least in the above example you could try setting your enabled mirage value w/ an environment var and set that via the `scripts` for when running storybook.

`'ember-cli-mirage': { enabled: process.env.ENABLE_MIRAGE }`
[code]

would be nice to potentially have storybook specific config but seems odd to me for it to reconfigure other addon hooks.

[2019-08-07 22:32] stormwarning opened #11 "'@storybook/ember-cli-storybook@latest' is not in the npm registry"
It looks like the `name` in `package.json` was updated, but maybe it hasn't been published to npm under the new name yet? Or maybe the access wasn't explicitly [made public](https://docs.npmjs.com/creating-and-publishing-scoped-public-packages#publishing-scoped-public-packages) (scoped packages are private by default).

Side note: `ember install ember-cli-storybook` seems to add the appropriate pa

[2019-08-08 15:04] stormwarning opened #12 "The `ember generate <entity-name>` command requires an entity name to be specified."
Running `ember install ember-cli-storybook` seems to add the appropriate packages, but exits with the above error.

Looking at [the blueprint](https://github.com/storybookjs/ember-cli-storybook/blob/master/blueprints/ember-cli-storybook/index.js) it looks like `@storybook/ember` is added to `package.json`, but fails before `@babel/core` or `babel-loader` are installed.

[2019-08-23 20:58] backspace commented on #11
Is there a workaround for this? 😞

[2019-08-23 22:17] joegaudet commented on #11
Seeing the same problem here.

[2019-08-24 00:21] gabrielcsapo commented on #11
Let me publish, should be up in a couple hours. I will report back when it
is done.

On Fri, Aug 23, 2019 at 3:17 PM Joe Gaudet <notifications@github.com> wrote:

[2019-08-29 02:33] joegaudet commented on #11
Any news on this? Looking to kick off a project this week that would involve this plugin.

[2019-08-29 05:04] gabrielcsapo commented on #11
[code]

@shilman I am not a part of the npm org. Would you be able to publish this.

[2019-08-29 10:51] shilman commented on #11
@gabrielcsapo I'm happy to, but I'm a big confused.

First error:

[code]

Fixed by modifying index.js & re-attempted:
[code]

I don't know anything about ember, but I'm assuming I need to build before I publish.

[2019-08-30 21:05] joegaudet commented on #11
@shilman That looks like you're building the in addon app/

[2019-08-30 23:00] gabrielcsapo commented on #11
Yes. You don’t need to build this before you publish. It acts as a part of
the build step for the project bringing it in. The app currently in this
project is used as testing fixture to make sure the build steps work
correctly.

On Fri, Aug 30, 2019 at 2:05 PM Joe Gaudet <notifications@github.com> wrote:

[2019-08-31 04:10] shilman commented on #11
OK, published as is as `@storybook/ember-cli-storybook@0.1.0`. LMK how that looks. And @gabrielcsapo let's figure out how to get you publishing rights.

[2019-08-31 04:12] gabrielcsapo commented on #11
@shilman sounds good! I haven't been able to commit a lot of time to supporting storybook. My apologies. I had support to bring this into work, but that has tapered and I am trying to find ways of using this at LinkedIn.

[2019-08-31 04:12] #11 closed

[2019-09-03 18:51] joegaudet commented on #11
@shilman @gabrielcsapo still having the same issue when I run:

```ember install ember-cli-storybook```

[code]

[2019-09-04 14:56] joegaudet commented on #12
Still seeing this issue after https://github.com/storybookjs/ember-cli-storybook/issues/11 was seolved.

[2019-09-20 15:08] backspace commented on #12
Does anyone have a workaround? 😢

[2019-10-01 08:01] NicholasJohn16 opened #14 "LinkTo doesn't generate href"
I've created a few components that use LinkTo, but I can't get the href attribute to generate. I'm using the preview version of Ember Octant with angle bracket components.

[code]

[code]

I'm not getting any errors and the component works perfectly in the Ember app, just not in Storybook. I've tried passing in an object with an id property and an id number, but neither seem to work, even though b

[2019-10-07 19:27] backspace commented on #12
`ember install @storybook/ember-cli-storybook` lets me install it at least! After that the application won’t start but I’m not sure what that’s about yet.

[2019-10-17 23:27] arthur5005 opened #16 "runningTests = true; Should come after vendor not before."
https://github.com/storybookjs/ember-cli-storybook/blob/4b3cc72dc83bc238b6df2b6e55c7f771cf7f6050/util.js#L126-L129

I'm on Ember 3.13 and I'm not sure if it's as a result of being on the latest version, but Ember builds `vendor.js` by setting `runningTests=false` as one of its first lines.

<img width="451" alt="Screen Shot 2019-10-17 at 4 23 27 PM" src="https://user-images.githubusercontent.com/6

[2019-10-31 17:29] gvocale opened #18 "Using decorators"
Is it possible to use `decorators` with Storybook for Ember?

Something like this doesn't seem to work:
[code]

It returns:
[code]

[2019-11-04 22:13] backspace commented on #14
I believe something similar is affecting me too; I have a [table component with sortable columns](https://deploy-preview-6507--nomad-storybook.netlify.com/?path=/story/components-table--sortable-columns), but clicking to change the sort doesn’t work. (It does initially make the iframe take over the page, but then, clicking does nothing.)

My theory is that this is happening because there’s no rout

[2019-11-05 18:54] backspace commented on #14
I got around this with some contained ugliness, thanks to a suggestion by @meirish. You can see the commit [here](https://github.com/hashicorp/nomad/pull/6507/commits/58b975824e72d03c180d219b627b34e622cb9611). The important code is this function:

[code]

It turns on routing, defines a `storybook` route, registers a `storybook` controller whose definition you pass in, and attaches it as `controlle

[2019-11-18 16:10] dbendaou commented on #18
Try something like this :
[code]

[2019-11-21 00:10] arthur5005 commented on #18
@dbendaou can you more complete example. I'm having the same problem, I feel like the JSX isn't parsing properly (as if it's not meant to)

A

[2019-11-21 13:53] dbendaou commented on #18
yup ! Will update the ember doc once I've time ! In the meantime, you can try this :

[2019-11-21 14:09] dbendaou commented on #18
BTW, you have to import hbs in order to compile properly, JSX is for react :)

`import hbs from 'htmlbars-inline-precompile';`

[2019-11-21 16:49] gvocale commented on #18
How to add instead a decorator like `Center` of the example on https://storybook.js.org/docs/addons/introduction/

I tried the following:
[code]
But I get this error:
[code]

[2019-11-22 02:35] arthur5005 commented on #18
For sure, I get what you're saying! And I understand that JSX is for React.

I've got my stories working with the hbs` string literal just fine.

It's when I want to create a _custom_ decorator, that I run into problems.

This is especially handy for adding at the config level, and wanting to wrap all stories with some sort of element with style, margins or class.

All examples use JSX syntax, pro

[2019-11-25 08:56] dbendaou commented on #18
You can use `centered` decorators this way
[code]

[2019-11-25 12:20] gvocale commented on #18
Thank you for your answer. My question is more about how can I create my own wrapper around a story. For example I would add some padding and other styling. For example:

[code]

With JSX would be pretty easy, but for Ember, how can I add some extra divs and styling around each story?

[2019-11-28 14:17] dbendaou opened #20 "Deprecated ember-cli-htmlbars-inline-precompile"
Because usage of `ember-cli-htmlbars-inline-precompile` is deprecated,
we should migrate to the new `ember-cli-htmlbars` to avoid any issue in the futur with new Ember versions.

[2019-12-01 16:46] gossi commented on #20
I've spotted errors with `hbs` imported from `ember-cli-htmlbars`. I created an issue over there. Please feed more information in as you have them: ember-cli/ember-cli-htmlbars#374

[2019-12-01 16:55] gossi opened #21 "More options to configure the app running in storybook"
I've been playing around with storybook and ember and it's very nice.

What I realized, there is little to no configuration been able to do for the app that is loaded within storybook. E.g. it is loading an app as it was 2 years ago, e.g. with the application wrapper element.

What I'd like to do:

- More configuration options as we have nowadays (e.g. optional-features)
- An application route tha

[2019-12-04 03:46] meirish commented on #18
If you need to do additional DOM manipulation in a decorator, Ember stories can have a third argument, `element` that is used in the [render method](https://github.com/storybookjs/storybook/blob/21b8a7fb2ca2ace85be14accabc5e046f9189377/app/ember/src/client/preview/render.js#L40-L45) in storybook. Here's an example: https://github.com/hashicorp/vault/blob/967b8c96f77ca2a672b5ec99d3ea6c904fd79d83/ui

[2019-12-04 17:07] meirish commented on #16
closed by https://github.com/storybookjs/ember-cli-storybook/pull/17

[2019-12-04 17:07] #16 closed

[2019-12-12 16:15] rwjblue commented on #20
Will need to be fixed here:

https://github.com/storybookjs/storybook/blob/4c757d05f162925217751bb5d61518c108d0935b/app/ember/src/server/framework-preset-babel-ember.js#L7

It should become something like:

[code]

[2020-01-02 16:59] gossi commented on #20
I tried the configuration from rob... yet unsuccessful. I linked storybook and I'm pretty sure, some of the setup over there got wrongly wired together.

[2020-01-02 21:06] btecu opened #25 "Addon Typescript"
Doesn't appear to work for `ts` files coming from an addon.
I tried setting it:
[code]

However, storybook still errors out:
![image](https://user-images.githubusercontent.com/7517745/71693188-d0776600-2d79-11ea-973b-6f08fd6023b3.png)

[2020-01-02 21:09] btecu commented on #25
The option should also be documented. cc @meirish

[2020-01-02 22:03] meirish opened #26 "app name that starts with `test` will not include the app js in preview-head.html"
I ran into this when trying out https://github.com/meirish/test-storybook

[2020-01-08 07:00] brianhjelle opened #28 "Upgrade deprecated version of ember-cli-inject-live-reload"
I am getting a deprecation warning that says "Upgrade ember-cli-inject-live-reload version to 1.10.0 or above". I'm using Ember 3.14.

[2020-01-09 20:34] btecu commented on #28
@brianhjelle this issue is related to `ember-cli`. You should chime in there:
https://github.com/ember-cli/ember-cli/issues/8391

[2020-01-10 16:21] btecu commented on #25
Turns out the issue is not Typescript.

When the application is using addons, those are not being processed, so you have to do something like: `componentFilePathPatterns: ['node_modules/my-addon/addon/components/*.ts']` or `componentFilePathPatterns: ['**/my-addon/addon/components/*.ts']`.

However, for some reason, those are not picked up by YUIDoc or the addon that calls YUIDoc, so my solution w

[2020-01-11 19:09] gossi commented on #12
There is a fix in #27

For now do the following:

Install: `ember install @storybook/ember-cli-storybook`

After Install: `ember g ember-cli-storybook`

The second command will add required packages plus does the bootstrapping.

[2020-01-15 09:04] zbitnev opened #29 "preview-head.html bug when rootURL is /"
When `tests/index.html` file contains CDN links and rootURL configured to be `/`, then `preview-head` generation works slightly wrong. Issue is reproducible with default `environment.js`, generated by `ember new`.

Example:
[code]

Input `index.html` link:
[code]
Output `preview-head.html` link:
[code]

[2020-01-21 08:38] ndelangen commented on #20
I could use some help understanding why the 6.0.0 alpha build of storybook for ember is broken. I think it's related to this maybe:
https://github.com/storybookjs/storybook/pull/9569#issuecomment-576471017

Would one of you be able to assist maybe? 🙏

[2020-01-22 15:19] dbendaou commented on #20
I may try to have a look if you want, is the issue related to `Cannot find module '../dist/server` ?

[2020-01-23 14:18] ndelangen commented on #20
When running the build-storybooks script in the monorepo, ember errors:
[code]

https://zeit.co/storybook/monorepo/52mj5uiu4

Happy to do some pair debugging if you'd be up to that.
I might learn something about ember!

[2020-01-24 18:29] gossi commented on #20
Yeah, that's the main issue at the moment. See the results matrix I gathered in ember-cli/ember-cli-htmlbars#374

From the suggestion in here from @rwjblue it's less of an ember error but more of a babel thing - at least to my current knowledge. Since `hbs` is now exported from `ember-cli-htmlbars`, which for me is a package that has a lot of dark magic in it (maybe I just don't know babel here 😇)

[2020-01-27 08:56] dbendaou commented on #20
So I presume we can now close this issue ?

[2020-01-27 11:22] ndelangen commented on #20
As soon as an release is done with this change in it, @shilman will close this issue.

[2020-01-28 20:21] gvocale commented on #18
@meirish can you please give me an example on how to use it in a single story?
I'm trying the following, but I get `TypeError: Cannot read property 'name' of undefined`:

[code]

[2020-01-30 19:49] robertsteilberg opened #30 "Tag release and deploy to npm"
Please tag the latest official release and deploy it to npm.

[2020-02-04 21:02] ddoria921 opened #31 "Livereload URL in preview-head.html returns 404"
The livereload URL generated in the `preview-head.html` file is trying to perform a GET at
[code]
but that returns a 404.

<img width="1366" alt="Screen Shot 2020-02-04 at 3 56 43 PM" src="https://user-images.githubusercontent.com/3970871/73786351-1489cc00-4767-11ea-8055-7a3e0978d331.png">

When I load up the ember app locally I noticed that the livereload URL that it is using is
[code]
Notice it

[2020-02-05 16:02] dbendaou commented on #20
Closing as it has been released in 5.3.10
https://github.com/storybookjs/storybook/releases/tag/v5.3.10

[2020-02-05 16:02] #20 closed

[2020-02-23 16:27] teakap opened #32 "Problem with fresh install"
I am running into an issue on a fresh installation of storybook on my rock n roll app.

![Screenshot from 2020-02-23 17-20-48](https://user-images.githubusercontent.com/13741777/75115700-65535d00-5661-11ea-8cb4-2a5073f005a0.png)

**Npm:** 6.13.4
**Node:** v10.19.0
**ember-cli:** 3.12.1
**os:** linux x64

:thinking:

[2020-02-23 16:29] teakap commented on #32
Sorry, this is a duplicate: https://github.com/storybookjs/ember-cli-storybook/issues/12

[2020-02-23 16:29] #32 closed

[2020-02-23 16:31] teakap commented on #12
This command still returns the same error for me.

[2020-03-03 21:25] dbendaou commented on #28
This as been fixed in the last version of storybook ! You can close then :)

[2020-03-05 16:59] gossi opened #33 "Install storybook for ember"
After a discussion in discord:

Installing storybook for ember should be straightforward and only minimal effort.

1) Installation:

With ember:

[code]

With npx (as mentioned on the [Quickstart Guide](https://storybook.js.org/docs/guides/quick-start-guide/)):

[code]

(that command should detect ember and then install `ember-cli-storybook`)

2) Configuration:

After installation is run, develope

[2020-03-05 17:11] dbendaou commented on #33
Thanks !

Also https://storybook.js.org/docs/guides/guide-ember/ alone doesn't work as mentioned above, in the current situation, you need to do `ember install ember-cli-storybook` and `npx -p @storybook/cli sb init
`
So we shall update the documentation for it while both options are fixed to work correctly :)

[2020-03-06 03:40] SergeAstapov commented on #30
Currently npm says "0.1.0 • Published a year ago"

[2020-03-09 10:20] dbendaou commented on #33
Related: https://github.com/storybookjs/storybook/issues/10074

[2020-03-09 11:55] vsergiu93 opened #34 "Automatic generation .env file"
I was wondering if we could ignore this [code](https://github.com/storybookjs/ember-cli-storybook/blob/master/index.js#L96-L106) when I have the `STORYBOOK_NAME` environment variable already defined?

[2020-03-20 16:16] meirish commented on #12
Try `ember g ember-cli-storybook default` to get the needed files

[2020-03-29 17:53] #25 closed

[2020-03-30 00:30] gabrielcsapo commented on #30
https://www.npmjs.com/package/@storybook/ember-cli-storybook is up to date.

[2020-03-30 00:30] #30 closed

[2020-04-10 16:57] jonniebigodes commented on #33
Sorry for piggyback on this issue, but there's something that might also be in the interest of this.

While trying to add the ember cli to a new project that will back the Intro to Storybook tutorial i'm faced with the following error:

[code]

The output of `ember --version`

[code]

Steps taken:

1- `ember new taskbox`
2- `npx -p @storybook/cli sb init` to install and initialize Storybook.
3- `e

[2020-04-16 17:14] iamareebjamal commented on #4
Facing this issue. Any solutions?

[2020-04-16 18:20] iamareebjamal opened #35 "Runtime error on import { hbs } from 'ember-cli-htmlbars'"
[code]

This happens because `ember-cli-htmlbars/utils.js` requires `hash-for-dep`
https://github.com/ember-cli/ember-cli-htmlbars/blob/aee846034a6b6772fef7675dad2156e69b40df8e/lib/utils.js#L5

`hash-for-dep/module-entry.js` requires `resolve-package-path`
https://github.com/stefanpenner/hash-for-dep/blob/f4cc06e526a36f83427b8ce1a6da2ea616112278/lib/module-entry.js#L3

Which accesses `process.exec

[2020-04-16 19:54] iamareebjamal commented on #35
Even after manually editing `should-preserve-symlinks.js`, it proceeds but I get another error

[code]

I am surely missing something because everything works in the example repo https://github.com/storybookjs/storybook/tree/v5.3.18/examples/ember-cli/
This is the PR for reference - https://github.com/fossasia/open-event-frontend/pull/4325

[2020-04-16 20:56] gabrielcsapo commented on #4
@iamareebjamal since this is compiled into the browser, how does this work on your project locally? the browser will throw a similar error for process not being defined

[2020-04-16 22:44] iamareebjamal commented on #4
`import { hbs } from 'ember-cli-htmlbars'` is not used in the project anywhere except tests. I am sure there is some config issue on my part but can't figure out what's different in my config and the example repo (which is working correctly). Maybe I'm using fastboot, that's why? Not sure

[2020-04-16 22:45] iamareebjamal commented on #4
Even when I manually patch the dependency, it stops throwing that error but starts throwing `Object(...) is not a function` where I define my stories

[2020-04-16 23:10] gabrielcsapo commented on #4
Would you be able to post of example of what your stories look like? That error seems like it is an issue with the format of the stories.

[2020-04-16 23:11] iamareebjamal commented on #4
PR is mentioned here - https://github.com/storybookjs/ember-cli-storybook/issues/35
https://github.com/fossasia/open-event-frontend/pull/4325

[2020-04-16 23:37] gabrielcsapo commented on #4
I am looking at your project now it looks like there are some misconfigurations one being

[code]

[2020-04-16 23:38] gabrielcsapo commented on #4
I will get it working and push a PR to your fork

[2020-04-16 23:38] iamareebjamal commented on #4
That can just be fixed by `cp .env.example .env`. We have put .env in .gitignore. I don't think that's the problem

[2020-04-16 23:39] gabrielcsapo commented on #4
Okay, will look into where that is done, but it looks like a simple yarn start will not be able to get it working

[2020-04-16 23:39] iamareebjamal commented on #4
Yes, it is a manual one time step.

[2020-04-18 05:17] iamareebjamal commented on #4
I got to the actual problem. It gets transpiled to
[code]

`ember_cli_htmlbars__WEBPACK_IMPORTED_MODULE_3__` has no entry for 'hbs' and hence it turns to `Object(undefined)` which then throws `Object is not a function`. Wasn't super easy to debug because of webpack source maps throwing me back at source code again and again. Any idea what might be causing this?

[2020-04-19 00:38] jonniebigodes opened #37 "Vulnerabilities found when adding the cli"
While working on the intro to storybook for ember, while adding the `ember-cli-storybook` to my test code i came across some vulnerabilities. It seems that some of the ones used by this have need of update.

[code]

And based on that i thought of reporting this as it might be of some concern for other users aswell.

Feel free to provide feedback

[2020-05-17 14:54] gossi commented on #33
So, apparently:

[code]

should also run:

[code]

primarily the generator should do this: `ember generate ember-cli-storybook`. This was "fixed" in the latest release https://github.com/storybookjs/ember-cli-storybook/commit/b3a25aed51c80d6aa24f0395c574d3b400ef9941 (at least that's what we thought). For some reasons, the blueprint cannot be run without an argument, which causes it to fail.

This

[2020-05-22 17:45] arjenblokzijl opened #38 "How to add custom head tags?"
Hi,

I was wondering how to add custom head tags like typescript or other external files. The documentation of Storybook points to [this page](https://storybook.js.org/docs/configurations/add-custom-head-tags/) and suggest to add these to the `preview-head.html` file. That will only work until ember-cli-storybook regenerates the file. Any pointers how to solve this issue?

Thanks in advance!

[2020-05-24 09:58] jherdman opened #39 "Constant Churn with preview-head.hbs"
It seems like the `<meta name="your-app/config/environment"` tag in `preview-head.hbs` is constantly changing. Normally we don't see these changes because they're injected at runtime, whereas this harness seems to be hard coding them. Some questions:

* Why is that?
* Can we ignore these changes?

[2020-05-26 20:23] emattias opened #40 "Transitions between states not showing when changeing a knob"
When changing a knob the transitions between states arent showing.

It seems likee the whole component is reinserted everytume. How can I avoid a full re-render/remount?

[2020-05-26 20:33] emattias commented on #40
I got it working :)

[2020-05-26 20:52] emattias commented on #40
After further investigation it turns out to not work 😅

[2020-05-29 12:25] brunomacf commented on #38
I'm stuck with this as well... @arjenblokzijl have you found a solution? I want to add a tag importing some custom font!!

[2020-05-29 12:42] brunomacf commented on #38
@arjenblokzijl i think i found a way at least if you are working on an addon... in your `index.js` you can do:

[code]

and then in your `tests/index.html` you can add:

[code]

seems to work

[2020-06-08 17:59] ozywuli opened #41 "Automatic dotenv file generation"
We use `.envrc` instead of `.env` for our app. It'd be great if we could configure this [code](https://github.com/storybookjs/ember-cli-storybook/blob/master/index.js#L96-L106) to check for `.envrc` instead so that we don't have to deal with an extra dotenv file.

[2020-06-11 12:31] arjenblokzijl commented on #38
@brunomacf I pulled a quick and dirty trick in our build process: `sed -i.bak "s#</head>#<link rel="stylesheet" href="https://use.typekit.net/XXXX.css" /></head>#" ./storybook-static/iframe.html`. Not really pretty, but it's working for us and the client can review the components in Storybook.

[2020-06-22 16:07] bfitch opened #42 "UnhandledPromiseRejectionWarning while running `ember serve`"
Thank you for this excellent addon! And for your work to bring storybook to Ember users 🙌.

While running `ember serve` after following the (workaround) install instructions [in this issue](https://github.com/storybookjs/ember-cli-storybook/issues/33):
[code]

I'm getting a `UnhandledPromiseRejectionWarning: TypeError: Cannot read property 'content' of undefined` error.

The fuller stacktrace is:

[2020-07-01 09:21] dbendaou commented on #18
@gvocale that's because you should declare your decorator before linking it to your component's story.
Try to add
[code]
after the decorator instead !

[2020-07-01 16:28] dbendaou commented on #18
If the issue is now resolve could you close it @gvocale ? 😊

[2020-07-01 17:44] gabrielcsapo commented on #18
Thanks for everyones helping in solving this!

[2020-07-01 17:44] #18 closed

[2020-07-01 17:46] gabrielcsapo commented on #4
@iamareebjamal is this still an issue?

[2020-07-01 17:48] gabrielcsapo commented on #28
Closing as this issue is being tracked in ember-cli.

[2020-07-01 17:48] #28 closed

[2020-07-01 17:50] gabrielcsapo commented on #31
What version of ember and ember-cli are you using?

[2020-07-01 18:05] iamareebjamal commented on #4
Will check and report. It's quite a daunting task

[2020-07-02 17:45] ddoria921 commented on #31
ember: 3.1.0
ember-cli: 3.1.4

[2020-07-02 18:07] gabrielcsapo commented on #31
@ddoria921 have you tried bumping to ember-cli@latest? You don't have to bump ember-source just ember-cli. This should use the correct version of live reload and the endpoint that it expects.

[2020-07-02 18:44] ddoria921 commented on #31
oh interesting. Let me try that and I'll get back to you

[2020-07-08 17:56] ozywuli opened #44 "How to stop incremental storybook builds when running `ember test -s`"
When running `ember test -s`, after any file save, storybook will build, which slows down testing a lot. Is there a way to prevent incremental storybook buildings when running `ember test -s`?

<img width="870" alt="Screen Shot 2020-07-08 at 10 55 47 AM" src="https://user-images.githubusercontent.com/5769153/86953667-96f92c00-c109-11ea-877b-3df3f557173a.png">

[2020-07-15 15:26] gossi commented on #33
There was a conversation on ember discord today: https://discordapp.com/channels/480462759797063690/662337973995700224/732916663111909407 (please scroll down). Mainly chris manson was providing a good hint about scoped packages and default blueprint resolution:

<img width="1173" alt="Bildschirmfoto 2020-07-15 um 17 25 27" src="https://user-images.githubusercontent.com/283700/87564017-2e3d2100-c6c

[2020-07-16 09:19] dbendaou commented on #44
How do you run SB ? You may want to try to run with `-s dist/`

[2020-07-16 09:23] dbendaou commented on #40
Indeed, that's because whenever you change a knob parameter it re-render the story itself. I don't think there's a way to solve this with the current config.
I think it require to refact the render method to have a Didupdate hook when changing a know parameter https://github.com/storybookjs/storybook/blob/next/app/ember/src/client/preview/render.ts

[2020-07-17 09:51] dbendaou commented on #40
Actually @shilman may have some further informations on it too

[2020-08-10 17:06] Alonski commented on #40
@dbendaou @shilman I would love to have this as well :)

[2020-08-12 17:51] emattias opened #46 "How to handle/mock dynamic segment"
I have a component that outputs `link-to` component the links to a route that requires a model that is loaded from a parent routes dynamic segment.

I get this error:

Can I set a dynamic segment programatically or mock them so that the `link-to` will find the company model in storybook, like it does in the app (by the root route)

I am using [this solution](https://github.com/storybookjs/ember-cl

[2020-08-12 22:14] iamareebjamal commented on #4
Working now

[2020-08-12 22:14] iamareebjamal commented on #35
Working now

[2020-08-12 22:14] #35 closed

[2020-09-10 13:17] dbendaou commented on #46
If the parent component rely on a `company` model you can create them in the `Ember store` and it should be able to find them just as in the application.
You can have a look at https://github.com/storybookjs/ember-cli-storybook#working-with-store, in your case you won't need to pass the model to the component as the parent will retrieve it.
Let me know if that fix your issue

[2020-09-18 22:28] jrock2004 opened #48 "Ember Addon Cannot Run Storybook"
So I have an ember add-on that I want to use storybook with. I followed the install steps and when I try to run the project I get this

[code]

Is it because I am using an addon? Here is the link to the repo https://github.com/jrock2004/mbkit-ember/tree/story-book

[2020-09-23 15:58] jelhan commented on #39
Wondering if `storeConfigInMeta` build-time configuration may help. It controls if Ember CLI puts the configuration in the meta tag or includes it in generated JavaScript. It's not very well documented. I only found it in [old Ember CLI docs on ember-cli.com](https://ember-cli.com/user-guide/#application-configuration) but I think it's still supported.

[2020-09-26 15:05] AnDeVerin commented on #48
I've got the same errors trying to start storybook in an addon project. :-(

[2020-10-11 05:07] afzal273 opened #49 "Doesn't work with ember v3.21"
Getting the following error
[code]

[2020-10-11 05:08] #49 closed

[2020-10-11 05:12] afzal273 commented on #49
Please ignore the issue, was using a very old node version :-/

[2020-10-23 19:39] barryofguilder commented on #48
@AnDeVerin Adding `core-js@3.6.5` in my `package.json` worked for me as well. I was seeing these errors both on an Ember addon as well as an Ember app.

[2020-11-20 11:46] fpauser commented on #12
I think this bug should be reopened as it seems not to be fixed.

Steps to reproduce:
[code]

Error output:
[code]

[2020-12-28 21:56] BarryThePenguin opened #52 "`ember-cli-storybook` config key was removed in v0.3.0"
### Describe the bug

The config key for this addon was changed in https://github.com/storybookjs/ember-cli-storybook/pull/50/files#diff-e727e4bdf3657fd1d798edcd6b099d6e092f8573cba266154583a746bba0f346L11-R11,
from `ember-cli-storybook` to the name of this package (`@storybook/ember-cli-storybook`)

Instead of breaking everyone, we could reinstate the old key and print a deprecation message instea

[2021-01-04 14:49] dbendaou commented on #52
Do you feel to make the appropriate PR to fix the issue with `@storybook/ember-cli-storybook` ?
As many user that use the doc integration and rely on the generated file will fail the build :/

[2021-01-04 21:35] BarryThePenguin commented on #52
Yup, I've got a PR in progress but got distracted 😅 I'll aim to have something up soon

[2021-01-15 13:53] dbendaou commented on #4
Ok so I guess we can close it? Can you confirm @techdragon?

[2021-02-03 11:49] fpauser opened #55 "Storybook installation in an ember-addon fails [Bug]"
### Describe the bug

Running `ember install @storybook/ember-cli-storybook` in a fresh ember-addon fails:

[code]

### Steps to reproduce the behavior

1. Generate a fresh ember-addon `ember addon dumy-addon`
2. Cd into dummy-addon `cd dummy-addon`
3. Install '@storybook/ember-cli-storybook' via `ember install @storybook/ember-cli-storybook --yarn`
4. See error
[code]

### Environment
os: linux x

[2021-02-03 19:53] gossi commented on #55
That is a known issue that so far nobody could answer how to solve it 🤷

If you are affected by this, you can manually run:

[code]

which will scaffold your storybook installation.

[2021-02-19 20:27] rileytaylor commented on #48
I just got this issue as well. Needed to install some peer dependencies and then core-js to resolve:
[code]
I'm on node 12.20, ember 3.24, and this is a relatively new project spun up about a month ago

[2021-03-13 01:16] #52 closed

[2021-03-18 10:31] aklkv commented on #42
Any update on this? I am still facing the same issue.

[2021-03-25 15:32] AndreJoaquim opened #56 "[Bug] Fails to `build-storybook`"
### Describe the bug

Hey 👋🏻

I'm unable to build a deployable Storybook. Starting a Storybook works, but when I run `build-storybook -s dist`, the generated `iframe.html` presents "No Preview". This is (apparently) preventing me from using Chromatic, Storybook's recommended provider.
T

Thanks in advance!

### Steps to reproduce the behavior

1. Run `build-storybook -s dist`
2. `npx http-server s

[2021-03-25 16:15] AndreJoaquim commented on #56
Closing as I don't have this issue anymore 👍🏻

[2021-03-25 16:15] #56 closed

[2021-03-26 22:55] gabrielcsapo commented on #12
re-opening this until it is fixed

[2021-04-02 21:09] gabrielcsapo commented on #55
Looking into fixing this, this weekend.

[2021-04-06 11:55] usamahamed commented on #55
BTW: i already tried this command `ember g @storybook/ember-cli-storybook` and i got this error

[code]

[2021-04-09 00:53] gabrielcsapo commented on #12
This should fix this issue https://github.com/storybookjs/ember-cli-storybook/pull/57

[2021-04-09 00:56] gabrielcsapo commented on #44
@ozywuli what was the file that resulted in storybook rebuilding?

[2021-04-09 00:57] gabrielcsapo commented on #42
@bfitch would you have a project that I can look at that shows this experience?

[2021-04-09 01:24] gabrielcsapo commented on #39
This is a result of how we load the ember app that backs storybooks ability to render components. As ember progresses we will not need to load the entire application and this will potentially not be needed as a result. As of right now preview-head will continue to update whenever the application config does.

[2021-04-09 01:24] #39 closed

[2021-04-09 01:25] gabrielcsapo commented on #38
We should be able to add this to a config option. It is a result of whatever your test index.html output is, but there is no reason we couldn't also append more information that will not be added.

[2021-04-09 01:27] gabrielcsapo commented on #37
As storybook is a devDependency and should not be shipped to production this should not be a cause for concern. As a result https://github.com/storybookjs/ember-cli-storybook/pull/53 should fix most of these errors as well.

[2021-04-09 01:27] #37 closed

[2021-04-09 01:28] gabrielcsapo commented on #33
The error as a result of the default blueprint not running should be fixed in https://github.com/storybookjs/ember-cli-storybook/pull/57.

[2021-04-09 01:28] #33 closed

[2021-04-09 01:29] gabrielcsapo commented on #14
Thank you for the super helpful example and explanation @backspace .

[2021-04-09 01:29] #14 closed

[2021-04-09 01:30] gabrielcsapo commented on #10
@billpull what would this specific config look like?

[2021-04-09 01:34] gabrielcsapo commented on #8
This should have been fixed in https://github.com/storybookjs/ember-cli-storybook/commit/37cf3a2a57a303b6a6094a1db4f32150d5ed23b9

[2021-04-09 01:34] #8 closed

[2021-04-09 01:35] #1 closed

[2021-04-09 01:35] #4 closed

[2021-04-09 01:37] gabrielcsapo commented on #21
I think this would be great. As ember continues to move to a commonjs model where we can bundle without the need to build two applications this should become easier. For the time being this is the model we have to work within.

[2021-04-09 01:37] #21 closed

[2021-04-09 01:38] #31 closed

[2021-04-09 01:55] billpull commented on #10
I believe what I was referring to was how Ember allows you to specify a configuration object that then can be referenced throughout the app.

https://guides.emberjs.com/release/configuring-ember/

The default one is under `/config/environment.js` and some other addons, such as ember-cli-deploy, provide additional config files ex: `/config/deploy.js`. The Storybook addon could check for the existen

[2021-04-09 02:46] bfitch commented on #42
@gabrielcsapo I'm sorry. I don't have a repo I can share publicly.

[2021-04-09 03:28] gabrielcsapo commented on #42
@bfitch are the assets you are looking for shown in the output for test/index.html when you start tests? Also are you using engines for any of this?

[2021-04-09 04:17] peabnuts123 commented on #8
What prompted you to look up the resolution to this issue? 😅

[2021-04-09 04:38] gabrielcsapo commented on #8
I was the original creator of this addon and of the ember support for storybook. I have been trying to get resourcing to have LinkedIn start using this more internally and seeing all the movement from the community I am hoping I can start contributing more again!

[2021-04-09 08:39] dbendaou opened #58 "Adding basics tests"
In order to ease contribution and be more confident to merge contributors PRs, we should have at least some basics test like:
- Make sure `ember-cli-storybook` build
- Try it with an example repo
- something else?

[2021-04-09 16:30] #29 closed

[2021-04-09 16:31] #12 closed

[2021-04-09 16:40] gabrielcsapo commented on #58
We should also ensure we move to GitHub-actions to make adding code easier. Have we thought about migrating this package to the main storybook repo? It is required by the ember framework integration, it would be easier to have both of them collocated.

[2021-04-09 16:43] gabrielcsapo opened #59 "0.4.0 publish"
I have setup everything to have 0.4.0 published to npm. I don't have publish rights of the npm package @shilman do you have someone who can publish?

[2021-04-09 16:43] gabrielcsapo commented on #59
cc @dbendaou

[2021-04-09 16:46] gabrielcsapo commented on #10
Thanks for the context @billpull ! I agree I don't think there are many things that will need custom configuration and therefore think we can close this out until a time comes where we have a ton of customizations (if a time comes).

[2021-04-09 16:46] #10 closed

[2021-04-09 16:56] gabrielcsapo commented on #58
https://github.com/storybookjs/ember-cli-storybook/commit/b32f8dfa2793ae52b578e7ad79ad97c90b234a28 adds GitHub Actions support so we should be able to add tests and get feedback in PRs again. Travis support was dropped rather abruptly.

[2021-04-10 00:04] shilman commented on #59
Published 0.4.0

[2021-04-10 00:04] #59 closed

[2021-04-10 01:18] gabrielcsapo commented on #55
Fixed in 0.4.0

<img width="747" alt="Screen Shot 2021-04-09 at 6 17 58 PM" src="https://user-images.githubusercontent.com/1854811/114253665-ebaf2900-995f-11eb-8629-3005350ceac2.png">

[2021-04-10 01:18] #55 closed

[2021-04-10 01:35] gabrielcsapo commented on #26
<img width="1680" alt="Screen Shot 2021-04-09 at 6 34 53 PM" src="https://user-images.githubusercontent.com/1854811/114254095-48134800-9962-11eb-82d7-6ed865ee33bd.png">

I was able to serve the example repo when I bumped everything to the latest. Please comment if you have any issues with this.

[2021-04-10 01:35] #26 closed

[2021-04-10 01:36] gabrielcsapo commented on #46
Closing as a fix was provided, if you have any more issues please let us know!

[2021-04-10 01:36] #46 closed

[2021-05-06 16:36] tcouloumy commented on #42
I faced the same issue and linked it to the way embler-cli was configured in the `ember-cli-build.js` file of my project.

`storeConfigInMeta` was set to false in the options, which prevented the injection of `meta name="*/config/environment"` tag in the generated `index.html`, which embler-cli-storybook looks for in `parse()` of utils.js as you mentioned

Setting `storeConfigInMeta: true` allowed

[2021-08-12 02:58] #38 closed

[2021-10-21 16:12] fpauser opened #88 "Missing/incomplete documentation"
https://storybook.js.org/addons/@storybook/ember-cli-storybook and https://github.com/storybookjs/ember-cli-storybook/blob/master/README.md are incomplete and do not properly explain how to install/run ember-cli-storybook
a) in an ember app
b) in an ember addon

[2022-01-06 19:08] joe-t-zapnito commented on #42
This is quite simple to fix, you just need to add this line at the beginning of `removeRootURL()` in `util.js`:
`if(!config.meta.length) return config;`
I'm not sure about the process of getting a PR open for this, will just fork the repo for now.

[2022-01-31 17:42] #42 closed

[2022-01-31 17:50] gabrielcsapo opened #100 "release 0.5.0"
I released and updated everything https://github.com/storybookjs/ember-cli-storybook/pull/99

[2022-01-31 17:51] gabrielcsapo commented on #100
@dbendaou would you be able to help with releasing this?

[2022-01-31 18:21] gabrielcsapo commented on #88
There shouldn't be additional work to get it working in an app or addon. Running `ember install` should do everything needed. Are you finding issues with the current docs?

[2022-01-31 18:22] gabrielcsapo commented on #58
This should be solved with the linked issue.

[2022-01-31 18:22] #58 closed

[2022-02-04 09:54] dbendaou commented on #100
Seems ok? I can see the release here https://github.com/storybookjs/ember-cli-storybook/releases/tag/0.5.0

[2022-02-04 18:02] nlfurniss commented on #100
It's not released [on NPM](https://www.npmjs.com/package/@storybook/ember-cli-storybook)

[2022-02-06 23:03] dimtatarin opened #103 "[Bug] Error: Ember is not defined (Ember v4.1.1)"
Component in Storybook page is displayed with an error:

<img width="1411" alt="Button - Text ⋅ Storybook 2022-02-07 01-45-56" src="https://user-images.githubusercontent.com/48866898/152704817-d342c247-3b1c-4cb3-9882-434531fc677e.png">

<img width="640" alt="Button - Emoji ⋅ Storybook 2022-02-07 02-02-13" src="https://user-images.githubusercontent.com/48866898/152705240-9f457613-98f8-4dc8-8ebd-9d5

[2022-02-08 02:11] gabrielcsapo commented on #100
Yes it was never released to npm @dbendaou

[2022-02-09 09:24] dbendaou commented on #100
I don't have the right to do so, I'm not part of the NPM org, could you help here to release it to NPM @shilman ?

[2022-02-09 12:29] shilman commented on #100
@dbendaou @gabrielcsapo published. sorry I missed the notification earlier!

[2022-02-09 12:29] #100 closed

[2022-02-19 04:42] steckel commented on #103
I also am experiencing this bug.

[2022-02-19 07:26] m3l1x commented on #103
same here, additionally it crashes because of setting Ember.testing = true in preview-head.html generated by https://github.com/storybookjs/ember-cli-storybook/blob/53c3948cd966489218893325ae9a12fed5f82ec0/lib/util.js#L142

[2022-02-25 13:58] jgadbois commented on #103
I am getting this bug as well after upgrading Ember to 4.1

[2022-03-10 22:31] gabrielcsapo opened #107 "[Bug] yuidoc failure"
### Describe the bug

Kills server, unrunnable. yuidoc is unmaintained and we should most likely remove it.

[code]

### Steps to reproduce the behavior

1. Use node 16.14.0
2. ember serve
3. application failures

### Expected behavior

Server doesn't fail to load.

### Environment

 - OS: MacOS
 - Node.js version: 16.14.0
- Yarn version: 1

[2022-03-10 23:05] gabrielcsapo commented on #103
ember 4 upgrade will most likely need to be supported by a major bump in this library. Looking into it over the weekend.

[2022-03-10 23:05] #48 closed

[2022-03-10 23:07] #88 closed

[2022-03-21 12:00] aoumiri opened #110 "Testing user interactions"
Hello 👋

Not really an issue, just a question:

I was wondering if there is a way to use [the interaction API](https://storybook.js.org/docs/react/essentials/interactions#writing-interactions) from storybook to test user interactions in stories?

If not, I would be keen to invest some time adding it to ember-cli-storybook if it makes sense, I would just need some guidance on how to do it :)

[2022-03-25 09:33] benedikt commented on #103
@gabrielcsapo Is there anything I can do to help with this? I'd be happy to look into things, just have no idea where and how to start.

[2022-03-31 15:57] dbendaou commented on #103
I think the issue comes actually from the render within storybook itself, not the this package

https://github.com/storybookjs/storybook/blob/next/app/ember/src/client/preview/render.ts#L41

[2022-04-01 03:26] fastfedora commented on #103
@dbendaou I am getting the same issue on a fresh install of Storybook using . I tried monkey-patching in the fix from storybookjs/storybook#17843 and it didn't appear to work.

I was able to track down where the `Ember.HTMLBars` is being output in the final JavaScript and it appears to be coming from the `babel-plugin-htmlbars-inline-precompile` plugin that is configured in [this file](https://git

[2022-04-01 14:44] jelhan commented on #103
This maybe related to using a very outdated version of that babel plugin:

- Latest version is `5.3.1`. https://www.npmjs.com/package/babel-plugin-htmlbars-inline-precompile
- Recent `ember-cli-htmlbars` specifies `^5.3.0` for its dependency on `babel-plugin-htmlbars-inline-precompile` enforcing nearly the latest version: https://github.com/ember-cli/ember-cli-htmlbars/blob/78a29d83b5d2674a929b0e2

[2022-04-01 21:38] fastfedora commented on #103
So I can confirm that the version of `babel-plugin-htmlbars-inline-precompile` that is being run by Storybook is v5.3.1, the latest version (verified through a console statement in the actual code). Looks like it's only defined as a peer dependency in that `package.json`, so it doesn't actually install a separate version.

I had multiple versions of `ember-cli-htmlbars`, but just forced a resoluti

[2022-04-08 19:15] bakerac4 commented on #103
@gabrielcsapo same here. If theres anything I can do to help please let me know. I just recently updated to ember 4.0 for the addons I wanted to use storybook on - so unless there is a known workaround Im paused for the moment.

[2022-04-14 07:57] dbendaou commented on #103
I think we have many issues that needs to be addressed here:
- Removed any Ember global usage
- Upgrade the template compiler (either switch to `babel-plugin-ember-template-compilation` or upgrade `babel-plugin-htmlbars-inline-precompile`)

[2022-04-14 08:07] dbendaou commented on #103
I've pushed a MR to upgrade our Ember scenario and test against Ember4, this should help the upgrade https://github.com/storybookjs/ember-cli-storybook/pull/113

[2022-04-22 16:21] bakerac4 commented on #103
I created https://github.com/storybookjs/storybook/issues/18028 today after doing a bit of research for it. I was able to locally bypass the Ember is undefined issue. But its a whole process ... We will need a few changes to fix this stuff.

[2022-06-17 10:42] tschoartschi opened #124 "[Bug] npm install breaks with npm version 8"
### Describe the bug

When trying to install `@storybook/ember-cli-storybook` with npm in version 8.11.0 it always gives me the following error:

[code]

The error comes from the npm package `yui` which is dragged in by `ember-cli-addon-docs-yuidoc`. The root cause of this issue has to do with a problem of npm itself, for more details see here: https://github.com/npm/cli/issues/5017

When we run `

[2022-06-23 14:00] nlepage commented on #124
Hi,
I opened #125 in an attempt to workaround this.
Hope this helps.

[2022-06-25 04:37] dsojevic opened #126 "Backport of `src` fix"
Would it be possible to get a release of `0.5.0` with the `src` fix (found here: https://github.com/storybookjs/ember-cli-storybook/commit/9f693aa5cbb4a881c14f45de62eb9bd938e4184d) backported to it?

For those of us stuck on versions of node below `16` we're unable to take the version including the fix as `0.6.0` bumped the minimum node engine version from `10.* || >= 12` to `>= 16`

[2022-06-29 13:36] Gorzas opened #127 "[Bug] Ember install doesn't run blueprint"
### Describe the bug

In a new Ember project, I've run the command `ember install ember-cli-storybook` but it doesn't run blueprint. So it doesn't add the necessary dependencies into package.json neither creates config files.

Running the command doesn't show any error:

[code]

### Steps to reproduce the behavior

1. Create new Ember project.
2. Run `ember install ember-cli-storybook`

### Expect

[2022-07-04 14:24] Gorzas commented on #127
Using [ember-cli-sass](https://github.com/adopted-ember-addons/ember-cli-sass) `ember install` it works as expected and adds `sass` as a dependency:

[code]

[2022-07-04 15:05] Gorzas commented on #127
It seems the problem is [this line](https://github.com/storybookjs/ember-cli-storybook/blob/master/package.json#L73). Tomorrow I'll prepare a PR with the changes.

[2022-07-05 10:11] Gorzas commented on #124
@nlepage thanks for your work! This still fails in the [Github jobs](https://github.com/storybookjs/ember-cli-storybook/runs/7185873469) because of the npm version. I'm going to check if I can update the npm version to the last one.

[2022-07-07 15:23] newt-beach opened #131 "[Bug] Dependency conflicts on freshly-created ember app"
### Describe the bug

When I create a new ember app and follow [the instructions here](https://storybook.js.org/docs/ember/get-started/install), I make it to `ember install @storybook/ember-cli-storybook` at which point I get the following errors:

[code]

### Steps to reproduce the behavior

[code]

### Environment

ember-cli: 4.4.0
node: 16.15.1
os: darwin x64

[2022-07-12 11:29] Gorzas commented on #124
AFAIK, we can't use the last npm version in Github jobs (or it's very hacky). I see [this PR](https://github.com/storybookjs/ember-cli-storybook/pull/125) was closed but not merged. Maybe could we merge it so last changes could work?

[2022-07-25 14:46] Gorzas opened #132 "Change default config.js per main.js"
The last version of Storybook requires a new configuration file called [main.js](https://storybook.js.org/blog/declarative-storybook-configuration/). This addon should use it instead of `config.js`.

We can reuse the one from [Chromatic](https://github.com/chromaui/intro-storybook-ember-template/blob/master/.storybook/main.js).

More info:
- https://storybook.js.org/blog/declarative-storybook-conf

[2022-07-25 14:53] Gorzas commented on #131
I had a similar issue in a fresh installation past month. Let me check again, I had an improvement in my code, I think there was needed an extra dependency to solve the problem.

[2022-07-28 12:01] Gorzas opened #135 "Update documentation"
AFAIU, there's some more documentation needed to make `ember-cli-storybook` work. It would need the following scripts in `package.json` for make it work (again, from [Chromatic template](https://github.com/chromaui/intro-storybook-ember-template/blob/master/package.json)):

[code]

Ember build post scripts are not enough. I think we can add this info in the README file, I don't know if it's possib

[2022-08-11 09:14] Gorzas commented on #124
PR has been merged but [the CI jobs](https://github.com/storybookjs/ember-cli-storybook/runs/7770420082?check_suite_focus=true) are still failing, it wasn't enough 😔. I'm going to take a look in case I can find a workaround for YUI version problem.

[2022-08-23 08:47] nlepage commented on #124
@Gorzas Sorry for the delay, I pushed [a PR to fix the CI jobs](https://github.com/storybookjs/ember-cli-storybook/pull/140).

[2022-08-23 10:45] Gorzas commented on #124
@nlepage no worries 😊. The last version of NodeJS was published just a week ago. Thanks a lot!

[2022-09-07 08:54] #135 closed

[2022-09-19 02:17] #132 closed

[2022-09-19 02:28] #127 closed

[2022-10-18 09:59] dbendaou opened #153 "[Embroider] yuidoc generation not working with Embroider app"
The doc is generated in the `postprocessTree` in the `index.json` file, which is never triggered with Embroider build.
Therefore, the doc is not working, and when trying to import the doc in the `preview.js` file, it breaks Storybook.

We should rework the way the doc is generated to avoid doing it in the `postprocessTree` hook.

[2022-10-20 12:31] dbendaou commented on #153
Somehow related https://github.com/ef4/prember/pull/64/files
We would like to apply the same pattern here

[2022-11-21 12:37] Windvis opened #158 "[Bug] `Error: Ember is not defined`(Ember ~v4.4.0) in production builds"
### Describe the bug

We're running into the exact same issue as #103 with the exception that in only happens when creating a production build of the "dummy" app.

### Steps to reproduce the behavior

1. set up Storybook in an Ember v4 based addon blueprint
2. run `ember build --environment=production` to create a production build of the dummy app
3. run `build-storybook`
4. serve the final output